[Unit]
Description=Tailscale VPN Service
Documentation=https://tailscale.com/
Wants=network-pre.target
After=network-pre.target NetworkManager.service systemd-resolved.service

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=-/home/jonco/src/dotfiles/secrets/tailscale.env
ExecStartPre=/usr/bin/tailscale down
ExecStart=/usr/bin/tailscale up --authkey=${TAILSCALE_AUTHKEY} --accept-routes --accept-dns
ExecStop=/usr/bin/tailscale down

[Install]
WantedBy=multi-user.target