[Desktop Entry]
Name=Keymapp
Comment=Keymap configuration tool
Exec=/home/jonco/Applications/keymapp
Icon=input-keyboard
Terminal=false
Type=Application
Categories=Utility;Settings;
