[Unit]
Description=Reapply hyprsunset settings after resume

[Timer]
OnBootSec=1min
OnUnitActiveSec=10min
Unit=hyprsunset-refresh.service

[Install]
WantedBy=timers.target

