@import "base.rasi"

configuration {
    modi: "run";
    show-icons: false;
    display-run: " Run";
}

window {
    width: 600px;
}

mainbox {
    children: [ "inputbar", "message", "listview" ];
}

listview {
    columns: 1;
    lines: 8;
}

element-icon {
    size: 0px;
}

textbox-prompt-colon {
    str: " ";
}

entry {
    placeholder: "Run command...";
}

element {
    spacing: 10px;
}

element-text {
    font: "JetBrains Mono 12";
}